@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --cor-principal: #0A585C; 
    --cor-branca: #FFFFFF;   
    --cor-alerta: #FC2F2F;   
    --cor-secundaria: #0B8187; 
    --cor-cinza-claro: #D9D9D9; 
    --cor-preto: #000000;    
    --cor-cinza-escuro: #262525; 
    --cor-cinza-medio: #9F9F9F;  
    --cor-cinza-muito-claro: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    padding: 1rem;
    font-family: calibri;
    font-size: 1.6rem;
    background-color: var(--cor-principal) !important;
    overflow: auto;  
}

.formulario {
    background-color: var(--cor-cinza-claro);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario__titulo {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--cor-principal);
}

.formulario__texto{
    font-size: 1.5rem;
}

.formulario__rotulo {
    font-size: 14px;
    font-weight: 800;
    color: var(--cor-principal);
}

.formulario__select {
    width: 100%; 
    padding: 8px;
    font-size: 16px; 
    border: 1px solid var(--cor-cinza-muito-claro);
    border-radius: 5px;
}

.formulario__valor {
    font-size: 30px;
    font-weight: 800;
    color: var(--cor-principal);
}

.formulario__descricao {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-cinza-muito-claro);
}

.formulario__grupo__lado-esquerdo {
    display: flex;
    align-items: center;
}

.formulario__grupo-input {
    transform: scale(1.7); 
    background-color: var(--cor-principal) !important; 
    border-color: var(--cor-principal) !important;
}

.botao {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px; 
}

.formulario__botao-icone{
    border: none;
    background-color: var(--cor-cinza-claro);
}

.formulario__icone--pequeno {
    transform: scale(0.7); 
    object-fit: contain;
}

.botao--arredondado {
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 20px;
}

.botao--azul {
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    width: 100%;
}

.botao--pequeno {
    padding: 5px 15px;
    font-size: 14px;
}

.formulario__icone {
    width: 40px;
    height: 40px;
}

.nova-receita {
    position: relative;
    padding: 0;
}

.icone-nova {
    width: 45px; 
    height: 45px; 
    border-radius: 50% !important;
    background-color: rgb(224, 224, 224) !important; 
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-nova {
    transform: translateY(-30px); 
}

.icone-transacao {
    width: 25px; 
    height: 25px; 
    object-fit: contain;
}

main{
    margin-bottom: 50px;
}
